@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	width: 100%;
	height: auto;
}
article{
	width: 30%;
	height: 1636px;
	float: left;
	background-color: black;
	margin: 0;
}
aside{
	width: 70%;
	height: 1636px;
	background-color: black;
	float: right;
	margin: 0;
}
.Menu{
	width: 80%;
	height: 150px;
	background-color: black;
	margin: 0px;
}
.Menu>ul{
	text-align: left;
	padding-top: 30px;
	display: block;
	line-height: 20px;
	margin-left: -35px;
}
.Menu ul li {
	display: inline-table;
	width: 146px;
	border-top: 1px solid #CCC;
	font-size: 17px;
	padding-right: 38px;
}
.Menu ul li a{
	text-decoration: none;
	color: white;
}
.SubMenu{
	text-align: left;
	margin-left: -40px;
	display: none;
}
.Menu>ul>li:hover .SubMenu{
	display: block;
}
.Menu>ul>li:hover{
	border-top: 1px solid greenyellow;
}
.Menu ul li:hover>a{
	border-top: 1px solid greenyellow;
	color: greenyellow;
}
.SubMenu>li:hover{
	border-top: 1px solid greenyellow;
}
.UnderMenu{
	background-color: black;
	width: 80%;
	height: 120px;
	border-top: 1px solid #CCC;
}
.UnderMenu p{
	word-break: break-all;
	text-align: inherit;
	font-size: 20px;
	width: 72%;
	margin-top: 20px;
	margin-left: 190px;
	color: white;
}
.Logo{
	position: relative;
	top: 30px;
	left: 200px;
	height: 60px;
	width: 60px;
}
.HHLogo{
	position: relative;
	top: 180px;
	left: 130px;
	width: 143px;
	height: 20px;
}.Advertise {
	position: relative;
	opacity: 0.5;
	top: 1350px;
	width: 130px;
	left: 155px;
	height: 220px;
	background-color: black;
}
.Advertise ul li{
	list-style-type: none;
	margin-left: -18px;
	margin-top: 2px;
	border-top: 1px solid #CCC;
	color: white;
	font-size: 14px;
}
#riba{
	margin-left: 20px;
	margin-top: 12px;
}
#contact {
    height: 20px;
    margin-top: 13px;
    margin-left: 18px;
}
#twitter {
    width: 18px;
    height: 18px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
#twitter img {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
#facebook {
    width: 18px;
    height: 18px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
#facebook i {
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    color: grey;
    font-size: 14px;
}
#behance {
    width: 18px;
    height: 18px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
#behance i {
    position: absolute;
    margin-top: 3px;
    margin-left: 2px;
    color: grey;
    font-size: 12px;
}
#flickr {
    width: 18px;
    height: 18px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
#flickr img{
    position: absolute;
    margin-top: 1px;
    margin-left: 0px;
}
#pinterest {
    width: 18px;
    height: 18px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
#pinterest i {
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    color: grey;
    font-size: 15px;
}
#instagram {
    width: 18px;
    height: 18px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
#instagram i {
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    color: grey;
    font-size: 14px;
}
.Advertise p{
	color: white;
	font-size: 13px;
	margin-top: 3px;
	margin-left: 20px;
}
#Image{
	background-color: black;
	height: 1200px;
	width: 80%;
}
.House {
	width: 100%;
	height: 400px;
	background-color: black;
	margin-bottom: 20px;
	border-top: 1px solid #CCC;
}
.House img{
	width: 470px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}
.House h3{
	color: #735029;
	font: italic;
}
.House p{
	color: white;
	font-size: 16px;
	margin-top: 10px;
}
.House a{
	text-decoration: none;
	color: white;
	border-bottom: dotted 1px #CCC;
	font-size: 17px;
	margin-left: 480px;
}
.House a:hover{
	color: #CCC;
}
#myBtn {
    display: none;  /*Mặc định button sẽ được ẩn */
    position: fixed;
    bottom: 20px;
    right: 30px; 
    z-index: 99; /* button được ưu tiên hiển thị đè lên các phần khác*/
    border: none;
    outline: none;
    background-color: black;
	background-image: url(../IMG/muiten.png);
	background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 40px;
	width: 42px;
	height: 43px;
}